<div class="bg-yellow-300 font-sans">
    <h1 class="text-2xl text-gray-900 font-bold">Bulb.</h1>
    <div>
        <a class="px-3 py-2 font-light" href="#">Why bulb?</a>
        <a class="px-3 py-2 font-light" href="#">Solutions</a>
        <a class="px-3 py-2 font-light" href="#">Resources</a>
        <a class="px-3 py-2 font-light" href="#">Pricing</a>
        <a class="px-3 py-2 font-light" href="#">Log In</a>
    </div>
    <img src="assets/img/bulb-tree.png" alt="">
    <h1 class=" text-3xl text-gray-900">Share <span class=" italic">ideas</span> <label>and receive instant
            feedback</label></h1>
    <p class=" text-gray-900"><label>Be smarter.</label>Become the brand you want to be.<label>Offer your customers only
            the very best tools and products.</label></p>
    <input type="email" class="h-12 px-3 py-2 w-64" placeholder="Enter your email address">
    <button class="ml-2 h-12 px-3 py-2 bg-green-900">Get started</button>
    <div class=" text-sm text-gray-900">Already using Bulb? <a class=" underline font-bold" href="#">Sign in</a></div>
</div>
