<div class=" p-10 h-screen bg-yellow-300 font-sans">
    <a class=" text-blue-600" routerLink=""> Back</a>
    <h1 class=" mt-3 text-2xl underline font-sans">Exams</h1>
    <h3 class=" mt-6 font-bold">Exam 1: How is a bubble sort algorithm implemented?</h3>
    <h3 class=" mt-3 font-bold">Exam 2: How do you count the occurrence of a given character in a string?</h3>
    <h3 class=" mt-3 font-bold">Exam 3: How do you remove duplicates from an array in place?</h3>
    <h3 class=" mt-3 font-bold">Exam 4: How do you reverse a given string in place?</h3>
    <h3 class=" mt-3 font-bold">Exam 5: How do you check if a given string is a palindrome?</h3>
    <h3 class=" mt-3 font-bold">Exam 6: How do you make a page responsive using css for mobile?</h3>
</div>
