<div class="container p-10 font-sans">
        <a class=" text-blue-600" routerLink="/exams"> Back</a>
    <h3 class=" mt-6 font-bold">How do you make an image avatar using css?</h3>
    <div class=" flex1">
        <img class="" src="assets/img/avatar.png" alt="">
        <p class=" mt-6 italic text-gray-700">
            Requirements:<br>
            1.The avatar's border is rounded, so that it appears as a circle.<br>
            2.The avatar's width and height are both 150px.<br>
            3.The avatar has a solid border, has a width of 2px, and be colored gray.
        </p>
    </div>

</div>